@model ConsoleAppProject.App02.BMI
@{
    ViewData["Title"] = "BMI Calculator";
}

<h1>BMI Calculator</h1>

<header class="jumbotron">
    <h1>BMI Calculator</h1>
    <h2>By Leo Juster</h2>
    <p>
        This app allows you to calulate your Body Mass Index (BMI), which can be used to classify health risks.
    </p>
</header>
<section>
    <form method="post">
        <h2>Height</h2>
        <p>
            Please enetr your height using either Imperial or Metric units.
        </p>
        <p>
            <input type="number" placeholder="feet" asp-for="@Model.HeightInFeet" />
            <input type="number" placeholder="inches" asp-for="@Model.HeightInInches" />
        </p>
        <p>
            <input type="number" placeholder="metres" asp-for="@Model.HeightInMetres " />
        </p>
    </form>
</section>
<section>
    <form method="post">
        <h2>Weight</h2>
        <p>
            Please enetr your height using either Imperial or Metric units.
        </p>
        <p>
            <input type="number" placeholder="stones" asp-for="@Model.WeightInStones" />
            <input type="number" placeholder="pounds" asp-for="@Model.WeightInPounds" />
        </p>
        <p>
            <input type="number" placeholder="kilograms" asp-for="@Model.WeightInKg" />
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>
    </form>
</section>